/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}







.editor-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editor-tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  background: #f0f0f0;
  padding: 0.5rem;
}

.editor-tabs button {
  margin-right: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
}



.code-editor {
  width: 50%;
  height: calc(100vh - 5rem);
  border: 1px solid #ddd;
}

.output-screen {
  width: 50%;
  height: calc(100vh - 5rem);
  border: none;
}

.hidden {
  display: none;
} */


/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    @apply bg-gradient-to-b from-background-start to-background-end text-foreground;
  }

  .editor-container {
    @apply flex flex-col h-screen;
  }

  .editor-tabs {
    @apply flex border-b border-gray-300 bg-gray-200 p-2;
  }

  .editor-tabs button {
    @apply mr-4 p-2 cursor-pointer bg-blue-500 text-white border-none rounded;
  }

  .code-editor,
  .output-screen {
    @apply border border-gray-300;
  }

  @media (min-width: 768px) {
    .code-editor,
    .output-screen {
      @apply w-1/2 h-full;
    }

    .code-editor {
      @apply h-screen;
    }

    .output-screen {
      @apply h-screen;
    }
  }

  @media (max-width: 767px) {
    .code-editor {
     height: 700px;
    }

    .output-screen {
      @apply h-full;
    }
  }
}

